body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #99b682, #c2a8d7);
}
  
  header {
    background-color: #ffffff;
    padding: 15px;
  }

  headerLogo {
   width: 20px; 
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }

  nav ul li a:hover {
    color: #3bb000; /* Hover effect */
}

  
  .mission {
    padding: 40px;
    text-decoration-color:ffffff;
    text-align: center;
    background-image: "images/nationalConfBoard.JPG" alt="Club Event Photo";
    background-position: center center; /* Center the image */
    background-size: cover; /* Cover the container */
    width: 700px; /* Example: set width and height */
    height: 400px;

  }
  
  .slideshow {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .slideshow img {
    width: 80%;
    max-width: 700px;
    height: auto;
    border-radius: 10px;
  }
  
  footer {
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
  }
  
  footer a {
    color: white;
    margin: 0 15px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #3bb000; /* Hover effect */
}

  footer img {
    width: 40px;
    margin: 0 10px;
    transition: transform 0.3s ease; 
  }
  
  @media screen and (max-width: 768px) {
    .fun-facts {
        grid-template-columns: 1fr;
    }
    nav {
        text-align: center;
    }
}


.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 40px;
  justify-items: center;
}

.team-card {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 250px;
  width: 100%;
}

.team-card img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  max-width: 150px;
  margin-bottom: 15px;
}

.team-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

