body {
    font-family: 'Poppins', sans-serif; /* Modern font */
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #99b682, #c2a8d7); /* Customize gradient colors */
  }
  
  header {
    background-color: #222;
    padding: 15px;
    color: white;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }

  nav ul li a:hover {
    color: #ccd8c6; /* Hover effect */
}

  
  .mission {
    padding: 40px;
    text-align: center;
    background-color: #f0f0f0;
  }
  
  .slideshow {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .slideshow img {
    width: 80%;
    max-width: 700px;
    height: auto;
    border-radius: 10px;
  }
  
  footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  footer a {
    color: white;
    margin: 0 15px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #ff6b6b; /* Hover effect */
}

  footer img {
    width: 40px;
    margin: 0 10px;
    transition: transform 0.3s ease; /* Smooth hover effect */
  }
  
  @media screen and (max-width: 768px) {
    .fun-facts {
        grid-template-columns: 1fr;
    }
    nav {
        text-align: center;
    }
}
